<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-left">
            <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/agents">Agents</a></li>
              <li role="presentation"><a href="/companies">Companies</a></li>
            <li role="presentation"><a href="/analytics">Analytics</a></li>
          </ul>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="http://www.instabase.com" target="_blank">Powered by Instabase</a></li>
            </ul>
        </nav>
      </div>
      {% block body %}
      {% endblock %}
      <footer class="footer">
          <div>
              <br><br><br><br><br>
        <p>© 2021 Instabase Inc.</p>
          </div>
      </footer>
    </div> <!-- /container -->

  </body>
</html>